services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: antifraud
      POSTGRES_USER: antifraud
      POSTGRES_PASSWORD: antifraud
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: .
    depends_on:
      - db
      - redis
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: antifraud
      DB_USER: antifraud
      DB_PASSWORD: antifraud

      REDIS_HOST: redis
      REDIS_PORT: 6379

      RANDOM_SECRET: super-secret
      ADMIN_EMAIL: admin@example.com
      ADMIN_FULLNAME: Admin
      ADMIN_PASSWORD: Admin1234
    ports:
      - "8000:8000"

volumes:
  pgdata:
